REACT_APP_CAPSULE_API_KEY=""
REACT_APP_API_URL=""
REACT_APP_BACKEND_URL=""
REACT_APP_RPC_PROVIDER=
REACT_APP_PLATFORM_PRIV_KEY=""
REACT_APP_PPROJECT_NETWORK_ID=
REACT_APP_SAFE_MODULE="";
REACT_APP_SAFE_4337_MODULE_ADDRESS=""
REACT_APP_ADD_MODULES_LIB_ADDRESS=""
REACT_APP_ENTRY_POINT_ADDRESS=""
REACT_APP_SAFE_SINGLETON_ADDRESS=""
REACT_APP_SAFE_PROXY_FACTORY_ADDRESS=""

